// Colors
$white: #fff;
$beige: #fbf8f3;
$black: #25204f;
$darkBlue: #25204f;
$darkBlueGrey: #25204f;
$teal: #4fc5d5;
$lightTeal: #F1FDFF;
$darkTeal: #1AA3B5;
$red: #ee7552;
$activered: #c25c3e;
$activewhite: #f2f2f2;
$yellow: #fad100;
$salmon: #ffae94;
$purple: #a594f0;
$gray: #c1c1c1;
$orange: #EE7552;
$grayPurple: #25204F;
$lightBlueGray: #c8c7d3;
$lightGray: #E0DFEE;
$green: #4fd594;
// Font
$fontFamily: 'Nunito', sans-serif;